/* PHASE 0: Sidebar */

.profile-picture {
    display: block;
    position: relative;
    margin-top: -170px;
    margin-left: 10px;
}

.profile-picture img {
    border-radius: 50%;
}

.profile-info {
    padding-left: 5%;
}


.content-sidebar {
    background: #f00;
    color: #fff;
    padding: 0;

}

.profile-nav ul li {
    border-top: 1px solid rgb(6, 30, 243);
    padding-left: 5%;
}

.profile-nav {
    border-bottom: 1px solid rgb(6, 30, 243);
    width: 100%;
}